.midHeader__container {
  box-shadow: var(--box-shadow);
  margin-top: var(--margin);
  max-height: 700px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  background: radial-gradient(circle, var(--color-mid) 0%, var(--light-shades) 100%);
}

.midHeader__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
}

@media only screen and (max-width: 634px){
	.midHeader__text {
    text-align: center;
  }
}