.example__container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-evenly;
  margin: var(--margin);
}

.card-hover {
  transition: all 0.3s;
}

.card-hover:hover {
  transform: translateY(-20px) scale(1.1);
}