@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.App > h1, h2, h3, h4, h5, p {
  margin: 0;
}

.App {
  /* max-width: 80%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --dark-shades: #070709;
  --light-shades: #EEE7E4;
  --color-light: #574b8a;
  --color-mid: #D37163;
  --color-dark: #BF5552;
  --padding: 1rem;
  --box-shadow: inset 0px 0px 1px 0px;
  --margin: 3rem;
  --white: #FFFFFF;
  --greyLight-2: #e2dbe8;
}

body{
  background-color: var(--light-shades);
  /* font-family: 'Chewy', cursive; */
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Fredoka One', cursive; */
  font-family: 'Raleway', sans-serif;
}

.gb-padding-container {
  width: 80%;
  padding: var(--padding);
}

/* ++++++++++++++++++++++++ PAGINATION ++++++++++++++++++++++++++ */

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  margin-top: 1.25rem;
}

.pagination a {
  padding: 1rem;
  border-radius: 10%;
  border: none;
  color: var(--color-light);
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff !important;
  background: var(--color-light);
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: none;
}