.navbar__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.navbar__links a, a:hover, a:focus, a:active{
  text-decoration: none;
  color: var(--color-light);
}

.navbar__links a:hover{
  color: var(--color-dark);
}

@media only screen and (max-width: 400px){
	.navbar__container {
    flex-direction: column;
  }
}